@font-face {
  font-family: "Messapia";
  src: url("https://type.cargo.site/Messapia/MessapiaRegular-3.woff?Expires=1572370340&Signature=R4J844nElxaSPFj5DJlr5eSShE9HTuG5rNUYKC60ZFTDKgWuYkfnNUp2wBTASoACA8Zt0INOHB5n4PWc2HePfpESAMr5HA8HzDViG36S9jP-UKJPVF-bbwN7wYrmSV1W8CfCp-fPJ0kJss-CbhRI~Sn80y3KOyfexiw663L8t4psST883-Ke968QVxo1YMEUYitnlc6YGacLiMMO9ElsH8B6uN72ru81ED0N7rYjX4NZFkpm9nGFO-aLhSNAxjl2WoosM5xaNUjavk7XuVjNZieQh1ceeF2PXAvXiwfRbH-xSQEWQXQtGWGxL9WQlN0hHL1QFVvphCOh95N4MFyCjA__&Key-Pair-Id=APKAJ6UHBOV2NWJLY2BQ") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
/*
 * Copyright � Collletttivo
 * http://collletttivo.it/
 */

@font-face {
  font-family: "Messapia";
  src: url("https://type.cargo.site/Messapia/MessapiaBold-3.woff?Expires=1572370340&Signature=riVk3x3fmtCbAI~Atcxh1oyGRRA96ebsdOMZ8kXHq9LTRrTPw3t2nuhWMVHyA6lyt8Jzx3Zl5mPCRlxlTyZhRjGWUFvJMfZTr98GFcHwcRxuot5HwyCSkuZMO7rM~KLFtcVww0MpBxhpH4x5k2WHZoB6Yt7Cq-dD7oKVCSKsuJV1BxPlF8xxHp7ULU2Mm-yDgQ5ArfZn5-CDgtwdNea-ETcNhRstqvKGZeXe8nJW7ABvadB4gZ-crM2LDYyxg06P9OgzkJl7swRhInGlMppT77MiVRVY91WecHaCUude661DQmyrOYbIIE0Dpz5iFcO6AFaVzy4v4yjk0WNW7UzEug__&Key-Pair-Id=APKAJ6UHBOV2NWJLY2BQ") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
