img {
    width: 100%;
}

.gifbox {
    position: relative;
}

.gif {
    padding: 10px;
}

h1 {
    display: none;
}

.subhead-mobile {
    display: none;
    font-family: 'BodoniSvntytwoITCStd-Book'
}

h2 {
    font-family: 'BodoniSvntytwoITCStd-Bold';
    font-size: 30px;
    margin-top: 40px;
    text-align: left;
}

h3 {
    font-family: 'BodoniSvntytwoITCStd-Bold';
    font-size: 40px;
}

#wrapper {
    padding-left: 200px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -240px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.navbar {
    display: none;
}

.sidebar-nav {
    text-decoration: none;
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 10px;
    border-right: 1px solid #ccc;
    position: fixed;
    top: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #AED6F1;
}

li a {
    text-decoration: none;
    font-family: 'BodoniSvntytwoITCStd-Bold';
    font-size: 22px;
    color: black;
}

li {
    margin-top: 16px;
    text-decoration: none;
}

.row {
    align-items: flex-start;
    margin-top: 20px;
}

p {
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}

.logo {
    width: 150px;
    padding-right: 30px;
}

.subhead {
    font-family: 'BodoniSvntytwoITCStd-Book';
    font-size: 21px;
    margin-top: -14px;
}

.bio-copy {
    font-size: 18px;
}

.icon {
    width: 2.5em;
    margin: 11px;
}

.illo {
    padding: 40px;
    position: relative;
}

@media (max-width:767px) {
    h1 {
        display: inline-block;
        font-family: 'BodoniSvntytwoITCStd-Bold';
        font-size: 60px;
        position: relative;
        top: 10px;
    }

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

    .navbar {
        display: block;
        position: sticky;
        top: 0;
        z-index: 99999;
        background-color: white;
    }

    .subhead-mobile {
        display: initial;
        font-size: 28px;
        position: relative;
        top: 10px;
    }

}
